// @import "../../../../global.scss";
/**
The Page well Split 2 Part :
Part 1 : the ICON that control Page
  * Page seize A4 / rol
*/
// p {
//   margin: 0px 15px;
//   text-align: center;
// }
.PrintBar {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0px auto;
  text-align: center;
  ion-item {
    text-align: center;
    justify-content: center;
    ion-radio {
      text-align: center;
      justify-content: center;
    }
  }
}

.font {
  font-size: 0.8em;
}
// === A4 Page === //
.PageA4 {
  display: grid;
  gap: 0px;
  margin: 20px;
  background-color: #ffffff;
  grid-template-columns: repeat(2, 1fr);
  zoom: 70%;
  .PrintBody {
    // GRID
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // GRID
    // background-color: #ffffff;
    border: 1px solid #000;
    color: #000;
    zoom: 60%;
    justify-content: center;
    text-align: center;
    .wifi {
      // padding-right: 15px;
      border-right: 1px solid #000;
    }
    .border {
      margin: 5px 35px;
      border: 1px solid #000;
      border-radius: 5%;
      padding: 10px;
    }
  }
  .Page8cm {
    display: none;
  }
}
// === A4 Page === //
// === 8cm Page === //
.Page8cm {
  width: 8cm;
  display: grid;
  gap: 10px;
  margin: 5px auto;
  grid-template-columns: repeat(1, 1fr);
  background-color: #ffffff;
  .PrintBody {
    // GRID
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // GRID
    color: #000;
    zoom: 80%;
    justify-content: center;
    .wifi {
      padding-bottom: 15px;
      border-bottom: 2px solid #000;
    }
    .border {
      margin: 5px 25px;
      border: 1px solid #000;
      border-radius: 5%;
      padding: 10px;
    }
  }
  .PageA4 {
    display: none;
  }
}
// === 8cm Page === //

// === Print Page === //
@media print {
  pages {
    size: A4;
    margin-top: 4in;
  }
  * {
    // direction: ltr;
    --background: var(--ion-color-secondary) !important;
    background: var(--ion-color-secondary) !important;
    color: var(--ion-color-tertiary);
    font-size: 14pt;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 1pt;
  }
  ion-header,
  ion-footer,
  ion-menu,
  .hederPrint {
    display: none;
  }
  // === A4 Page === //
  .PageA4 {
    font-size: 1em;

    display: grid;
    gap: 0px;
    background-color: #ffffff;
    grid-template-columns: repeat(2, 1fr);
    zoom: 80%;
    .PrintBody {
      // GRID
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // GRID
      // background-color: #ffffff;
      border: 1px solid #000;
      color: #000;
      // zoom: 70%;
      justify-content: center;
      text-align: center;
      .wifi {
        // padding-right: 15px;
        border-right: 1px solid #000;
      }
      .border {
        margin: 5px 35px;
        border: 1px solid #000;
        border-radius: 5%;
        padding: 10px;
      }
    }
    .Page8cm {
      display: none;
    }
  }
  // === A4 Page === //
  // === 8cm Page === //
  .Page8cm {
    display: grid;
    gap: 5px;
    // margin: 5px auto;
    grid-template-columns: repeat(1, 1fr);
    zoom: 80%;
    // background-color: #ffffff;
    .PrintBody {
      // GRID
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      // GRID
      color: #000;
      // zoom: 80%;
      justify-content: center;
      .wifi {
        padding-bottom: 15px;
        border-bottom: 2px solid #000;
      }
      .border {
        margin: 5px 25px;
        border: 1px solid #000;
        border-radius: 5%;
        padding: 10px;
      }
    }
    .PageA4 {
      display: none;
    }
  }
  // === 8cm Page === //
}
// === Print Page === //
