// =========== QR ========== //
// ========================= //
// .QrAdd {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   gap: 20px;
//   margin: 20px;
//   text-align: center;
//   div {
//     background-color: var(--ion-color-step-50);
//     p {
//       direction: ltr;
//       text-align: left;
//       margin-left: 20px;
//     }
//   }
//   @media screen and (max-width: 760px) {
//     grid-template-columns: repeat(1, 1fr);
//   }
// }

.QRall {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin: 50px;
  text-align: center;
  .QRprint {
    background-color: var(--ion-color-step-50);
    padding: 20px;
    text-align: center;
  }
}

@media print {
  * {
    direction: ltr;
    --background: var(--ion-color-secondary) !important;
    background: var(--ion-color-secondary) !important;
    color: var(--ion-color-tertiary);
    font-size: 8pt;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 1pt;
  }
  .QRall {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10pt;
    // margin: 50px;
    // text-align: center;
    // justify-items: center;
    margin: 3pt;
    .QRprint {
      width: 95%;
      border: 1px solid var(--ion-color-tertiary);
      text-align: left;
      h1 {
        // text-align: left;
        font-style: italic;
        font-size: 14pt;
        margin: 0;
      }
      // qrcode {
      //   width: 80px;
      //   height: 80px;
      // }
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
  // ion-menu,
  // ion-header,
  // ion-footer,
  // ion-menu,
  // form {
  //   display: none;
  // }
}
