<ion-header>
  <ion-toolbar>
    <ion-title>{{"Events.OrderList" |translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- data was send from db Server -->
  <div class="OrderList" *ngIf="eventsAll !== undefined">
    <ion-list>
      <ion-reorder-group
        [disabled]="false"
        (ionItemReorder)="handleReorder($any($event))"
      >
        <ion-item *ngFor="let events of eventsAll">
          <div class="thumbnail" slot="start">
            <video
              [src]="imageURL +events.image"
              *ngIf="events?.imgType === 'video'"
              muted
              controls
            ></video>
            <img
              *ngIf="events?.imgType === 'image'"
              [src]="imageURL+events.image"
            />
          </div>
          <ion-label *ngFor="let info  of events.info">
            {{info.name}}
          </ion-label>
          <ion-reorder slot="end">
            <ion-icon name="swap-vertical-outline"></ion-icon>
          </ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
  </div>
  <!-- data was send from db Server -->
  <!-- No data was send from db Server -->
  <div class="null" *ngIf="eventsAll === undefined">
    <ion-text [innerHTML]="'Events.NoEvents' | translate"> </ion-text>
    <ion-button fill="clear" [routerLink]="['/events/update']">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>{{ "Events.NweEvents" | translate}}</ion-label>
    </ion-button>
  </div>
  <!-- No data was send from db Server -->
</ion-content>
