<ion-header>
  <ion-toolbar>
    <ion-title>{{"Events.NweEvents" |translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Event value</h1>
  {{eventUpDate.value | json}}
  <!-- Card Info -->

  <form
    class="split2"
    [formGroup]="eventUpDate"
    (ngSubmit)="submitForm()"
    novalidate
  >
    <div>
      <ion-card>
        <video
          [src]="imageURL + eventUpDate.value.image || imageSrc"
          *ngIf="eventUpDate.value.imgType === 'video' "
          height="200"
          controls
          autoplay
          muted
        ></video>
        <ion-avatar *ngIf="eventUpDate.value.imgType === 'image' ">
          <img [src]="imageURL + eventUpDate.value.image || imageSrc" />
        </ion-avatar>
      </ion-card>
      <!-- Card Info -->
      <!-- Image -->
      <ion-item>
        <ion-label> {{"Events.UpDatePage.Image" | translate}} </ion-label>
        <input
          name="image"
          type="file"
          (change)="onFileChange($event)"
          #UploadFile
          class="file-input"
        />
        <ion-button slot="end" fill="clear" (click)="UploadFile.click()">
          <ion-icon name="image-outline" size="large"></ion-icon>
        </ion-button>
      </ion-item>
      <p class="error" *ngIf="!eventUpDate.get('image')?.valid">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{'Events.ERROR.ImageType' | translate}}
      </p>
      <!-- Image -->
      <!-- active -->
      <ion-item>
        <!-- <ion-label> {{"Events.UpDate.Active" | translate}} </ion-label> -->
        <ion-toggle
          formControlName="active"
          [checked]="eventUpDate.value.active"
          >{{"Events.UpDatePage.Active" | translate}}
        </ion-toggle>
      </ion-item>
      <!-- active -->
    </div>
    <!-- Information by Languages -->
    <div formArrayName="infoArray">
      <p class="error" *ngIf="!eventUpDate.get('infoArray')?.valid">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{'Events.ERROR.EventName' | translate}}
        <br /><br /><br />
      </p>
      <div *ngFor="let info of langActive; let i = index" [formGroupName]="i">
        <!-- Language -->

        <!-- Name -->
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/icon/{{info.id}}.webp" />
          </ion-avatar>
          <!-- Language -->
          <!-- <ion-label> {{"ItemTypes.UpDate.Name" | translate}} </ion-label> -->
          <ion-input
            [label]="'ItemTypes.UpDate.Name' | translate"
            formControlName="name"
            [name]="info.name"
            type="text"
          ></ion-input>
        </ion-item>
        <!-- Name -->
        <!-- Description -->
        <ion-item>
          <ion-label>
            {{"ItemTypes.UpDate.Description" | translate}}
          </ion-label>
        </ion-item>
        <div>
          <quill-editor
            [modules]="modules"
            formControlName="description"
          ></quill-editor>
        </div>

        <!-- Description -->
      </div>
      <!-- </div> -->
    </div>
    <!-- Information by Languages -->
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button
          (click)="submitForm()"
          type="submit"
          clear
          [disabled]="eventUpDate.invalid"
        >
          <ion-icon name="sync-outline" size="large"></ion-icon>
          <ion-label>{{"Setting.SocialMedia.UpSocial" |translate }}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
