<ion-header>
  <ion-toolbar>
    <ion-title>{{"Events.NweEvents" |translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Event value</h1>
  {{eventUpDate.value | json}}
  <!-- Card Info -->

  <form
    class="split2"
    [formGroup]="eventUpDate"
    (ngSubmit)="submitForm()"
    novalidate
  >
    <div>
      <ion-card>
        <video
          [src]="imageSrc || imageURL + eventUpDate.value.image"
          *ngIf="eventUpDate.value.imgType === 'video' "
          height="200"
          controls
          autoplay
          muted
        ></video>
        <ion-avatar *ngIf="eventUpDate.value.imgType === 'image' ">
          <img [src]="imageSrc || imageURL + eventUpDate.value.image" />
        </ion-avatar>
        <!-- <ion-card-header>
        <ion-card-subtitle>{{eventUpDate.value.name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{eventUpDate.value.description}}
      </ion-card-content> -->
      </ion-card>
      <!-- Card Info -->
      <!-- Image -->
      <ion-item>
        <ion-label> {{"Events.UpDate.Image" | translate}} </ion-label>
        <input
          name="image"
          type="file"
          (change)="onFileChange($event)"
          #UploadFile
          class="file-input"
        />
        <ion-button fill="clear" (click)="UploadFile.click()">
          <ion-icon name="image-outline" size="large"></ion-icon>
        </ion-button>
      </ion-item>
      <p class="error" *ngIf="!eventUpDate.get('image')?.valid">
        <!-- <p class="error" *ngIf="!eventUpDate.get('image')?.errors.required"> -->
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{'Setting.SocialMedia.ERROR.FacilityImageType' | translate}}
      </p>
      <!-- Image -->
      <!-- active -->
      <ion-item>
        <ion-label> {{"Events.UpDate.Active" | translate}} </ion-label>
        <ion-toggle
          formControlName="active"
          [checked]="eventUpDate.value.active"
        ></ion-toggle>
      </ion-item>
      <!-- active -->
    </div>
    <!-- Information by Languages -->
    <div formArrayName="infoArray">
      <!-- <div *ngFor="let info of langActive; let i = index" [formGroupName]="i"> -->
      <div
        *ngFor="let info of eventUpDate.get('infoArray')['controls']; let i = index"
        [formGroupName]="i"
      >
        <!-- Language -->
        <ion-avatar slot="start">
          <img src="assets/icon/{{info.id}}.webp" />
        </ion-avatar>
        <!-- Language -->
        <!-- Name -->
        <ion-item>
          <ion-label> {{"ItemTypes.UpDate.Name" | translate}} </ion-label>
          <ion-input
            formControlName="name"
            [name]="info.name"
            type="text"
          ></ion-input>
        </ion-item>
        <p
          class="error"
          *ngIf="!eventUpDate.get('infoArray.{{i}}.name')?.valid"
        >
          <ion-icon name="alert-circle-outline"></ion-icon>
          {{'Setting.QR.ERROR.wifiName' | translate}}
        </p>
        <!-- Name -->
        <!-- Description -->
        <ion-item>
          <ion-label>
            {{"ItemTypes.UpDate.Description" | translate}}
          </ion-label>
          <!-- <ion-textarea
              formControlName="description"
              [name]="info.description"
              type="text"
            ></ion-textarea> -->
          <ion-textarea
            formControlName="description"
            type="text"
          ></ion-textarea>
        </ion-item>
        <!-- Description -->
      </div>
      <!-- </div> -->
    </div>
    <!-- Information by Languages -->
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <!-- <ion-tab-button
          (click)="submitForm()"
          type="submit"
          clear
          [disabled]="eventUpDate.invalid"
        > -->
        <ion-tab-button (click)="submitForm()" type="submit" clear>
          <ion-icon name="options" size="large"></ion-icon>
          <ion-label>{{"Setting.SocialMedia.UpSocial" |translate }}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
