<ion-header>
  <ion-toolbar>
    <ion-title>{{"Setting.Setting" |translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-avatar>
      <img [src]="url + imageSrc" />
    </ion-avatar>
    <ion-card-header>
      <ion-card-subtitle
        >{{'Setting.SocialMedia.FacilityName' | translate}}:
        <br />{{FacilityName}}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <div class="split2">
    <!-- Languages -->
    <ion-list [inset]="true">
      <h1>{{"Setting.Language.Name" |translate }}</h1>
      <ion-item>
        <ion-label>{{"Setting.Language.Default" |translate }}</ion-label>
        <ion-button slot="end" [routerLink]="['/cpanel/language']">
          {{languageDefault |translate }}
          <ion-icon name="sync" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>{{"Setting.Language.ActiveLang" |translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar
          class="small-avatar"
          *ngFor="let lan of languageActive"
          [routerLink]="['/cpanel/language']"
        >
          <img src="assets/icon/{{lan.id}}.webp" />
        </ion-avatar>
      </ion-item>
    </ion-list>
    <!-- Languages -->
    <!-- SocialMedia -->
    <ion-list [inset]="true">
      <h1>{{"Setting.SocialMedia.Name" |translate }}</h1>
      <ion-item *ngFor="let social of socialActive">
        <a [href]="social.link" target="_blank" slot="start">
          <ion-icon [name]="social.icon"></ion-icon>
        </a>
        <a
          class="social-size"
          *ngIf="social.id === 'whatsapp'"
          [href]="['https://wa.me/'+social.link]"
          target="_blank"
          >{{social.link}}</a
        >
        <a
          class="social-size"
          *ngIf="social.id !== 'whatsapp'"
          [href]="social.link"
          target="_blank"
          >{{social.link}}</a
        >
        <ion-button slot="end" [routerLink]="['/cpanel/social']">
          <ion-icon name="sync"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button
          routerDirection="root"
          [routerLink]="['/cpanel/language']"
        >
          <ion-icon name="language"></ion-icon>
          <ion-label>{{"Setting.Language.Name" |translate }}</ion-label>
        </ion-tab-button>
        <ion-tab-button
          routerDirection="root"
          [routerLink]="['/cpanel/social']"
        >
          <ion-icon name="options"></ion-icon>
          <ion-label>{{"Setting.SocialMedia.Name" |translate }}</ion-label>
        </ion-tab-button>
        <ion-tab-button
          routerDirection="root"
          [routerLink]="['/cpanel/QR/QRadd']"
        >
          <ion-icon name="qr-code-outline"></ion-icon>
          <ion-label>QR</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
