<ion-header>
  <ion-toolbar>
    <ion-title>QR</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h1>QR.value</h1>
  {{qrNetWork.value | json}} -->
  <form
    class="split2"
    [formGroup]="qrNetWork"
    (ngSubmit)="submitForm()"
    novalidate
  >
    <div>
      <!-- WIFI Network View -->
      <h1>WIFI</h1>
      <ngx-qrcode-styling #wifiQR></ngx-qrcode-styling>
      <ion-grid>
        <ion-row>
          <ion-col size="5">{{'Setting.QR.wifiName' | translate}} : </ion-col>
          <ion-col size="7" class="LTR">{{qrNetWork.value.wifiName}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"> {{'Setting.QR.wifiPass' | translate}} : </ion-col>
          <ion-col size="7" class="LTR"
            >{{qrNetWork.value.wifiPass}} /
            {{qrNetWork.value.wifiType}}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col size="5">
            {{'Setting.QR.wifiHidden' | translate}} :
          </ion-col>
          <ion-col size="7" class="LTR">{{qrNetWork.value.wifiHidden}}</ion-col>
        </ion-row>
      </ion-grid>
      <!-- WIFI Network View -->
      <!-- WIFI Network Insert -->
      <!-- WIFI Name -->
      <ion-item>
        <ion-label position="floating"
          >{{'Setting.QR.wifiName' | translate}} :</ion-label
        >
        <ion-input
          formControlName="wifiName"
          name="wifiName"
          type="text"
          class="LTR"
        ></ion-input>
      </ion-item>
      <p class="error" *ngIf="!qrNetWork.get('wifiName')?.valid">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{'Setting.QR.ERROR.wifiName' | translate}}
      </p>
      <!-- WIFI Name -->
      <!-- WIFI Hidden -->
      <ion-item>
        <ion-label position="fixed"
          >{{'Setting.QR.wifiHidden' | translate}}</ion-label
        >
        <label>
          <input
            type="radio"
            name="wifiHidden"
            formControlName="wifiHidden"
            [value]="true"
          />Yes /
        </label>
        <label>
          <input
            type="radio"
            name="wifiHidden"
            formControlName="wifiHidden"
            [value]="false"
          />
          No
        </label>
      </ion-item>
      <p class="error" *ngIf="!qrNetWork.get('wifiHidden')?.valid">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{'Setting.QR.ERROR.wifiHidden' | translate}}
      </p>
      <!-- WIFI Hidden -->
      <!-- WIFI Password Type -->
      <ion-item>
        <ion-label>{{'Setting.QR.wifiType' | translate}}</ion-label>
        <ion-select
          interface="popover"
          formControlName="wifiType"
          name="wifiType"
          placeholder="Select One"
          slot="end"
        >
          <ion-select-option
            *ngFor="let PassType of wifiPassType "
            [value]="PassType"
            >{{PassType}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <p class="error" *ngIf="!qrNetWork.get('wifiType')?.valid">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{'Setting.QR.ERROR.wifiType' | translate}}
      </p>
      <!-- WIFI Password Type -->
      <!-- WIFI Password -->
      <div *ngIf="qrNetWork.value.wifiType !== 'None'">
        <ion-item>
          <ion-label position="floating"
            >{{'Setting.QR.wifiPass' | translate}}</ion-label
          >
          <ion-input
            formControlName="wifiPass"
            name="wifiPass"
            type="text"
            class="LTR"
          ></ion-input>
        </ion-item>
        <p class="error" *ngIf="!qrNetWork.get('wifiPass')?.valid">
          <ion-icon name="alert-circle-outline"></ion-icon>
          {{'Setting.QR.ERROR.wifiPass' | translate}}
        </p>
      </div>
      <!-- WIFI Password -->
      <!-- WIFI Network Insert -->
    </div>
    <div>
      <h1>Menu Server</h1>
      <ngx-qrcode-styling #serverQR> </ngx-qrcode-styling>
      <p>
        {{"Setting.QR.serverURL" | translate}} :
        <span class="LTR">{{qrNetWork.value.serverURL}}</span>
      </p>
    </div>
  </form>
</ion-content>
<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button
          (click)="submitForm()"
          type="submit"
          clear
          [disabled]="qrNetWork.invalid"
        >
          <ion-icon name="sync-outline"></ion-icon>
          <ion-label>{{"Setting.QR.UpQR" | translate}}</ion-label>
        </ion-tab-button>
        <ion-tab-button
          [routerLink]="['/cpanel/QR/QRprint']"
          clear
          [disabled]="qrNetWork.invalid"
        >
          <ion-icon name="print-outline"></ion-icon>
          <ion-label>{{"Setting.QR.print" | translate}}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
<!-- Footer -->
