// === IMPORT form other CSS === //
@import "./header.scss"; // === ION Header & ION Footer === //
@import "./content.scss";
@import "./error.scss"; // === All ERROR on pages === //
@import "./cPanel/qr.scss"; // === QR === //
@import "./FormButton.scss"; // === All Form & Buttons Style === //
// === IMPORT form other CSS === //
* {
  font-size: 16px;
}

// ion-title,
h1,
h2 {
  text-align: center;
}
.LTR {
  direction: ltr;
  text-align: left;
}
// ion-split-pane {
//   width: 300px;
// }
ion-menu {
  --width: 250px;
}
.split2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
  text-align: center;
  div {
    background-color: var(--ion-color-step-50);

    p {
      direction: ltr;
      text-align: left;
      margin-left: 20px;
    }
  }
  ion-list {
    margin: 0 !important;
    padding: 5px !important;
  }
  @media screen and (max-width: 760px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

// === All ICONS in the APP === //
ion-icon {
  font-size: 1.5em;
  color: var(--ion-color-primary);
}
// === All ICONS in the APP === //

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
