// === IMPORT form other scc === //
@import "./header.scss"; // ======= ION Header & ION Footer ====== //
@import "./content.scss";
// === IMPORT form other scc === //
* {
  font-size: 20px;
}

// ion-title,
h1,
h2 {
  text-align: center;
}

.ServerNotConnect {
  text-align: center;
  margin: 100px 10px 0px;
  justify-items: center;
  img {
    height: 200px;
    width: 200px;
  }
  ion-text {
    font-size: 15px;
    font-style: italic;
    margin: 20px;
    text-align: center;
    color: #fff;
  }
}
