<ion-header>
  <ion-toolbar>
    <ion-title>{{"Events.Events" |translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- data was send from db Server -->
  <div class="EventsPageAll" *ngIf="eventsAll !== undefined">
    <ion-card
      button="true"
      [routerLink]="['/events/info/',events.id]"
      *ngFor="let events of eventsAll"
      [ngClass]="events.active !== true ? 'blur': ''"
    >
      <video
        [src]="imageURL +events.image"
        *ngIf="events?.imgType === 'video'"
        muted
        controls
      ></video>
      <img *ngIf="events?.imgType === 'image'" [src]="imageURL+events.image" />
      <ion-card-content *ngFor="let info  of events.info">
        {{info.name}}
      </ion-card-content>
    </ion-card>
  </div>
  <!-- data was send from db Server -->
  <!-- No data was send from db Server -->
  <div class="null" *ngIf="eventsAll === undefined">
    <ion-text [innerHTML]="'Events.NoEvents' | translate"> </ion-text>
    <ion-button fill="clear" [routerLink]="['/events/update']">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>{{ "Events.NweEvents" | translate}}</ion-label>
    </ion-button>
  </div>
  <!-- No data was send from db Server -->
</ion-content>
<ion-footer>
  <!-- <ion-toolbar *ngIf="autAll"> -->
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button [routerLink]="['/events/update']">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>{{ "Events.NweEvents" | translate}}</ion-label>
        </ion-tab-button>
        <!-- <ion-tab-button *ngIf="master" (click)="deleteAllTypes()"> -->
        <ion-tab-button (click)="DeleteEvents()">
          <ion-icon name="trash-outline"></ion-icon>
          <ion-label>{{ "Events.DeleteEvents" | translate}}</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/events/orderList']">
          <ion-icon name="list-outline"></ion-icon>
          <ion-label>{{ "Events.OrderList" | translate}}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
