<ion-header>
  <ion-toolbar>
    <ion-title>{{ "HOME.title" | translate:params }}</ion-title>
    <ion-avatar slot="end">
      <img [src]="imageURL + imageSrc" />
    </ion-avatar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.newDB === true; else  errorLang">
    <h1>{{ "HOME.MainList" | translate }}</h1>
    <!-- data was send from db Server -->
    <div class="PageAll" *ngIf="ItemTypesAll !== undefined">
      <ion-card
        button="true"
        [routerLink]="['/ItemType/info/',ItemTypes.id]"
        *ngFor="let ItemTypes of ItemTypesAll"
        [ngClass]="ItemTypes.active !== true ? 'blur': ''"
      >
        <video
          *ngIf="ItemTypes?.imgType === 'video'"
          [src]="imageURL +ItemTypes.image"
          muted
          controls
        ></video>
        <img
          *ngIf="ItemTypes?.imgType === 'image'"
          [src]="imageURL+ItemTypes.image"
        />
        <ion-card-content *ngFor="let info  of ItemTypes.info">
          {{info.name}}
        </ion-card-content>
      </ion-card>
    </div>
    <!-- data was send from db Server -->
    <!-- No data was send from db Server -->
    <div class="null" *ngIf="ItemTypesAll === undefined">
      <ion-text [innerHTML]="'ItemTypes.NoItemTypes' | translate"> </ion-text>
      <ion-button fill="clear" [routerLink]="['/ItemType/update']">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>{{ "ItemTypes.NweList" | translate}}</ion-label>
      </ion-button>
    </div>
    <!-- No data was send from db Server -->
    <h1>{{ "HOME.Events" | translate }}</h1>
    <!-- data was send from db Server -->
    <div class="PageAll" *ngIf="eventsAll !== undefined">
      <ion-card
        button="true"
        [routerLink]="['/events/info/',events.id]"
        *ngFor="let events of eventsAll"
        [ngClass]="events.active !== true ? 'blur': ''"
      >
        <video
          *ngIf="events?.imgType === 'video'"
          [src]="imageURL +events.image"
          muted
          controls
        ></video>
        <img
          *ngIf="events?.imgType === 'image'"
          [src]="imageURL+events.image"
        />
        <ion-card-content *ngFor="let info  of events.info">
          {{info.name}}
        </ion-card-content>
      </ion-card>
    </div>
    <!-- data was send from db Server -->
    <!-- No data was send from db Server -->
    <div class="null" *ngIf="eventsAll === undefined">
      <ion-text [innerHTML]="'Events.NoEvents' | translate"> </ion-text>
      <ion-button fill="clear" [routerLink]="['/events/update']">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>{{ "New" | translate}}</ion-label>
      </ion-button>
    </div>
    <!-- No data was send from db Server -->
  </div>

  <ng-template #errorLang>
    <!-- <div class="noLanguageOnDB"> -->
    <ion-text [innerHTML]="'Alert.FIRSTisFIRST' | translate"> </ion-text>
    <ion-button
      slot="end"
      [routerLink]="['/cpanel/language']"
      color="primary-contrast"
      fill="“clear”"
    >
      <ion-icon color="primary" name="add-circle-outline"></ion-icon>
    </ion-button>
    <!-- </div> -->
  </ng-template>
</ion-content>
