// if Item Not Active
.blur {
  filter: blur(5px);
}
.OrderList {
  margin: 5vmax;
  ion-list {
    .thumbnail {
      video,
      img {
        margin: 2vmax auto;
        padding: 5px;
        height: 100px;
        width: 100px;
      }
    }
  }
}

/**
* Events
**/
.EventsPageAll {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px;
  text-align: center;
  ion-card {
    --color: var(--ion-color-primary);
    text-align: center;
    margin: 0px;
    video,
    img {
      margin: 2vmax auto;
      clear: both;
      padding: 5px;
      height: 150px;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 760px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.EventsPageInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin: 20px;
  text-align: center;
  ion-card-header {
    grid-column: 1/4;
    grid-row: 1;
  }
  ion-card-content {
    grid-column: 2/4;
  }

  video,
  img {
    grid-column: 1/2;
    margin: 2vmax;
    clear: both;
    max-width: 100%;
  }
}

/**
* ItemType + Items
**/
.pageAll {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px;
  text-align: center;
  ion-card {
    --color: var(--ion-color-primary);
    text-align: center;
    video,
    ion-avatar {
      margin: 2vmax auto;
      clear: both;
      padding: 5px;
      height: 150px;
    }

    video {
      max-width: 100%;
    }
    ion-avatar {
      width: 150px;
      box-shadow: 4px 4px 6px #888888;
      border-radius: 100%;
    }
  }

  @media screen and (max-width: 760px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    ion-avatar {
      width: 100px !important;
      height: 100px !important;
    }
  }
}

.pageInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin: 20px;
  text-align: center;
  ion-card-header {
    grid-column: 1/4;
    grid-row: 1;
  }
  ion-card-content {
    grid-column: 2/4;
  }

  video,
  ion-avatar {
    grid-column: 1/2;
    margin: 2vmax auto;
    clear: both;
    max-width: 100%;
  }
}
