<ion-header>
  <ion-toolbar>
    <ion-title>{{"ItemTypes.NewList" |translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h1>ItemType value</h1>
  <p class="LTR">{{ItemTypeUpDate.value | json}}</p> -->

  <form
    class="PageUpdate"
    [formGroup]="ItemTypeUpDate"
    (ngSubmit)="submitForm()"
    novalidate
  >
    <div>
      <!-- Card Info -->
      <ion-card>
        <img
          *ngIf="ItemTypeUpDate.value.imgType === 'image' "
          [src]="imageSrc"
        />
      </ion-card>
      <!-- Card Info -->
      <!-- Image -->
      <ion-item>
        <ion-label> {{"insert.Image" | translate}} </ion-label>
        <input
          name="image"
          type="file"
          (change)="onFileChange($event)"
          #UploadFile
          class="file-input"
        />
        <ion-button slot="end" fill="clear" (click)="UploadFile.click()">
          <ion-icon name="image-outline" size="large"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="Note" *ngIf="!ItemTypeUpDate.get('image')?.valid">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <p class="error">{{'insert.Note.JustImage' | translate}}</p>
      </div>
      <!-- Image -->
      <!-- active -->
      <ion-item>
        <ion-toggle
          formControlName="active"
          [checked]="ItemTypeUpDate.value.active"
          >{{"insert.Active" | translate}}
        </ion-toggle>
      </ion-item>
      <div class="Note">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <p class="error" [innerHTML]="'insert.Note.Active' | translate"></p>
      </div>
      <!-- active -->
    </div>
    <!-- Information by Languages -->
    <div class="Language" formArrayName="infoArray">
      <div class="Note" *ngIf="!ItemTypeUpDate.get('infoArray')?.valid">
        <ion-icon
          name="alert-circle-outline"
          size="large"
          slot="start"
        ></ion-icon>
        <p class="error" [innerHTML]="'insert.Note.JustName' | translate"></p>
      </div>
      <div
        *ngFor="let info of infoArrayS.controls; let i = index"
        [formGroupName]="i"
      >
        <!-- Language -->

        <!-- Name -->
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/icon/{{info.value.lang}}.webp" />
          </ion-avatar>
          <!-- Language -->
          <!-- <ion-label> {{"ItemTypes.UpDate.Name" | translate}} </ion-label> -->
          <ion-input
            [label]="'insert.Name' | translate"
            formControlName="name"
            [name]="info.value.name"
            type="text"
          ></ion-input>
        </ion-item>
        <!-- Name -->
        <!-- Description -->
        <ion-item>
          <ion-label> {{"insert.Description" | translate}} </ion-label>
        </ion-item>
        <div>
          <quill-editor
            [modules]="modules"
            formControlName="description"
          ></quill-editor>
        </div>

        <!-- Description -->
      </div>
      <!-- </div> -->
    </div>
    <!-- Information by Languages -->
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button
          (click)="submitForm()"
          type="submit"
          clear
          [disabled]="ItemTypeUpDate.invalid"
        >
          <ion-icon name="sync-outline" size="large"></ion-icon>
          <ion-label>{{"Update" |translate }}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
