<ion-header>
  <ion-toolbar>
    <ion-title>{{ItemTypeName}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [ngStyle]="style">
  <!-- ItemType by ID INFO-->
  <div *ngIf="ItemTypeDescription !== null">
    <ion-card class="PageInfo2">
      <quill-view [content]="ItemTypeDescription"></quill-view>
    </ion-card>
  </div>
  <!-- ItemType by ID INFO-->
  <!-- All Items belongs to this ItemType ID parent  -->
  <div class="PageAll" *ngIf="ItemsAll !== undefined">
    <ion-card
      button="true"
      [routerLink]="['/ItemType/info/',Items.id]"
      *ngFor="let Items of ItemsAll"
      [ngClass]="Items.active !== true ? 'blur': ''"
    >
      <img *ngIf="Items?.imgType === 'image'" [src]="imageURL+Items.image" />

      <ion-card-content *ngFor="let info  of Items.info">
        {{info.name}}
      </ion-card-content>
    </ion-card>
  </div>
  <!-- All Items belongs to this ItemType ID parent  -->
  <!-- All ItemTypes parent  -->
  <div class="PageAll" *ngIf="ItemTypesAll !== undefined">
    <ion-card
      button="true"
      [routerLink]="['/ItemType/info/',ItemType.id]"
      *ngFor="let ItemType of ItemTypesAll"
      [ngClass]="ItemType.active !== true ? 'blur': ''"
    >
      <img
        *ngIf="ItemType?.imgType === 'image'"
        [src]="imageURL+ItemType.image"
      />

      <ion-card-content *ngFor="let info  of ItemType.info">
        {{info.name}}
      </ion-card-content>
    </ion-card>
  </div>
  <!-- All ItemTypes parent  -->
  <!-- No data was send from db Server -->
  <div class="null" *ngIf="ItemTypeName === undefined">
    <ion-text [innerHTML]="'ItemTypes.NoItemTypes' | translate"> </ion-text>
    <ion-button fill="clear" [routerLink]="['/ItemType/update']">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>{{ "ItemTypes.NweList" | translate}}</ion-label>
    </ion-button>
  </div>
  <!-- No data was send from db Server -->
</ion-content>
<ion-footer *ngIf="ItemTypeName !== undefined">
  <!-- <ion-toolbar *ngIf="autAll"> -->
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button [routerLink]="['/Item/update',ItemTypeID]">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>{{ "New" | translate}}</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/ItemType/update',ItemTypeID]">
          <ion-icon name="sync-outline"></ion-icon>
          <ion-label>{{ "Update" | translate}}</ion-label>
        </ion-tab-button>
        <!-- <ion-tab-button *ngIf="master" (click)="deleteAllTypes()"> -->
        <ion-tab-button (click)="DeleteItemTypeID()">
          <ion-icon name="trash-outline"></ion-icon>
          <ion-label>{{ "Delete" | translate}}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
